<!DOCTYPE html>
<html>
   <head>
	<meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/mycss.css">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<!--<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="/static/bootstrap-3.3.7-dist/js/html5shiv.js"></script>
         <script src="/static/bootstrap-3.3.7-dist/js/respond.min.js"></script>
      <![endif]-->
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="/static/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
      <!-- 包括所有已编译的插件 -->
      <title>别墅图纸大全-追求美好生活</title>
   </head>
<body>
<br/>
<nav class="navbar navbar-default navbar-static-top" role="navigation"  style='background-color:#FFFFFF'>
    <div class="container">
    <div class="navbar-header" >
        <div class="navbar-brand"><a href=/>  <b><font color='#01AF63'> 7别墅-别墅图纸专家 </font> </b> </a> </div>
    </div>
    <div >
        <ul class="nav nav-tabs">
            <li ><a href="#"> <b>一层别墅  </b> </a>   </li>
            <li><a href="#"> <b>两层别墅 </b></a></li>
		<li>  <a href="#"> <b>三层别墅 </b> </a></li>
		<li><a href="#"> <b>四层别墅 </b> </a></li>
		 <li><a href="#"> <b>双拼别墅 </b> </a></li>
		<li> <a href="#"> <b>联排别墅 </b> </a></li>

        </ul>
    </div>
    </div>
</nav>
{% block content%} {%endblock%}

<!--
<div class="container">
<br/>
<div class='row'>


{% for house in house_list %}
	{% if  forloop.counter|divisibleby:"4"   %}
		<div class="row">
	{% endif%}
	
	<div class="col-sm-6 col-md-3" style="margin-right:-20px;margin-top:-30px;padding:10px">
			<table class='table table-bordered'>
			<tr>
			<td>
			{% for photo in photo_list %}
				{% if photo.house.id ==  house.id and photo.if_cover == '1' %}
					<a href=/home/house_detail/{{house.id}}/>
					<img src="/static/media/{{photo.images}}" alt="{{house.title}}" height=200px width=100% ></a> &nbsp;
				{% endif%}
			{%endfor%}
			 <center><b>{{house.title}}</b></center>
			图纸编号:{{house.id}}<br/>
			售价:{{house.down_price}}积分<br/>
			下载次数:50次 
			</td>
			</tr>
			</table>
	</div>
	{% if  forloop.counter|divisibleby:"4"   %}
		</div>
	{% endif%}
{% endfor%}
	

</div>

</div>
-->

<div class='footer'>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container"> 
    <div class="navbar-header">
<br/>
<address>
        <strong>广东图纸专家有限公司</strong><br>
        007 street<br>
        Some City, State XXXXX Some City, State XXXXX  Some City, State XXXXX
        <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
<address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">mailto@somedomain.com</a>
</address>
    </div>
	</div>
	</nav>
</div>

</div>


</body>
</html>
