{% extends "home/house_base.html" %}
{% block content%}
<div class="container">
<br/>
<div class='row'>


{% for house in house_list %}
        {% if  forloop.counter|divisibleby:"4"   %}
                <div class="row">
        {% endif%}

        <div class="col-sm-6 col-md-3" style="margin-right:-20px;margin-top:-30px;padding:10px">
                        <table class='table table-bordered'>
                        <tr>
                        <td>
                        {% for photo in photo_list %}
                                {% if photo.house.id ==  house.id and photo.if_cover == '1' %}
                                        <a href=/home/house_detail/{{house.id}}/>
                                        <img src="/static/media/{{photo.images}}" alt="{{house.title}}" height=200px width=100% ></a> &nbsp;
                                {% endif%}
                        {%endfor%}
                         <center><b>{{house.title}}</b></center>
                        图纸编号:{{house.id}}<br/>
                        售价:{{house.down_price}}积分<br/>
                        下载次数:50次
                        </td>
                        </tr>
                        </table>
        </div>
        {% if  forloop.counter|divisibleby:"4"   %}
                </div>
        {% endif%}
{% endfor%}



</div>



</div>

{% endblock %}
