{%extends "home/house_base.html"%}
{% block content %}
<div class="container">
        <div class=row>

<div class="panel panel-default">
        <div class="panel-heading">
                <h3 class="panel-title">
                        <h2 class='text-center'>{{house_detail.title}}</h2>
                </h3>
        </div>
        <div class="panel-body" >
                {% for photo in photo_list %}
                        <img src='/static/media/{{photo.images}}' class='img-thumbnail center-block' width=80% ></img>
                {% endfor%}
        </div>
</div>


</div>
</div>


{% endblock %}
